body {
    background-color:black;
}



#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#profile-wrapper{
    text-align: center;
    text-shadow: teal;
    text-indent: 0vh;
    contain: style;
    range: initial;
    text-transform: lowercase;
    text-overflow: inherit;
    text-rendering: inherit;
}
